<table align="center">
  <tr>
    <td>
      <table>
        <tr ><div data-location="mensajeBienvenida" style="padding: 30px;"></div></tr>
        <tr>
          <td style="padding: 15px;">Username:</td>
          <td><div data-location="username" ></div></td>
        </tr>
        <tr>
          <td style="padding: 15px;">Password:</td>
          <td><div data-location="password"></div></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td style="padding: 45px;"><div data-location="registerButton"></div></td>
          <td><div data-location="okbutton" ></div></td>
        </tr>
      </table>
    </td>
  </tr>
</table>